@import url('https://fontsgoogleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*------------------------Header ------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mobile {
    display: none;
}

.menu-icon {
    width: 20px;
    margin-left: -471px;
    padding-right: 20px;
    visibility: hidden;

}

nav .logo {
    width: 120px;
    margin-left: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: -130px;
}

nav ul li {
    cursor: pointer;
}

.login-btn {
    background-color: #cb051a;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 100px;
    border-radius: 10px;
    width: 110px;
    height: 30px;
}

.login-btn:hover {
    background-color: #fcb118;
    color: #000000;
    box-shadow: 1px 1px #cb051a;
}

.ho {
    color: #cb051a;
}

.ho:hover {
    color: #000000;
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
}

.header-list:hover {
    color: #cb051a;
}

.desktopNav .logo {
    margin-left: 0;
}

.desktopNav .login-btn {
    margin-right: 0;
}

.desktopNav {
    padding: 0 4%;
}

/*------------------------banner ------------------------*/

.banner-content {
    padding-top: 150px;
    padding-left: 6%;
    padding-right: 10px;
    padding-bottom: 100px;
}

.banner-content h1 {
    font-size: 40px;
    font-family: 'Merriweather';
}

.color {
    color: #cb051a;
}



.order-btn {
    padding-left: 22px;
    padding-right: 22px;
    color: white;
    background-color: #cb051a;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;

}

.order-btn:hover {
    background-color: #fcb118;
    color: #000000;
    cursor: pointer;
    box-shadow: 1px 1px #cb051a;

}

.banner p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Inter';

}

.banner {
    background-color: #f4f3ea;
    display: flex;

}

.coverImg,
.banner-content {
    width: 50%;
}

.coverImg {
    overflow: hidden;
}

.coverImg img {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
}


/*-----------Services ----------*/


.ser h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Merriweather';
}

.serv {
    text-align: center;
    font-size: 24px;
}

.ser .rows {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    gap: 180px;
    margin-bottom: 40px;
}

.row p {
    margin-top: 5px;
}

/*-----------Menu ----------*/

.menu-head,
.menu-price {
    text-align: center;
    font-size: 18px;
}


.menu h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Merriweather';
}



.menu-text {
    font-size: 14px;
}

.cart-btn {
    border: none;
    border-radius: 10px;
    background-color: #cb051a;
    color: white;
    height: 30px;
    width: 250px;
    margin-top: 5px;
    cursor: pointer;
}

.row .me {
    margin-bottom: 20px;
}

.me img {
    border-radius: 15px;
}

.cart-btn:hover {
    background-color: #fcb118;
    color: #000000;
    box-shadow: 1px 1px #cb051a;
}

.me p {
    text-align: left;


}

.me {
    background-color: white;
    padding: 15px;
}

.menu {
    background-color: #ffe9ad;
}

.view {
    display: flex;
    justify-content: center;
}

.view-btn {
    border: 1px solid #cb051a;
    height: 40px;
    width: 120px;
    background: transparent;
    color: #cb051a;
    margin-bottom: 20px;
    border-radius: 5px;

}

.view-btn:hover {
    background-color: #cb051a;
    color: white;
    cursor: pointer;

}

.menu .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 5px;
    gap: 10px;


}

/*-----------Chefs ----------*/

.che .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    gap: 10px;
}

.che {
    text-align: center;
    margin-top: 40px;
}

.che p {
    margin-top: 5px;
}

.che h1 {
    font-family: 'Merriweather';
}

/*----------- Testimonial ----------*/

.test {
    background-color: #fcb118;
    margin-top: 50px;
}

.test h1 {
    font-weight: 700;
    font-size: 40px;
    padding-left: 100px;
    width: 417px;
    padding-top: 60px;
    font-family: 'Merriweather';
}

.testi {
    display: flex;
    justify-content: space-between;
    width: 62%;
}

.testi img {
    margin-top: 6%;

}

.dott-img {
    float: right;
    margin-top: -253px;
}

.testp {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.testpa {
    font-weight: 700;
    color: #cb051a;
    font-size: 18px;
}

.para {
    float: right;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 7%;
    height: 300px;
    align-content: center;
    margin-top: -320px;

}

.dot-img {
    margin-top: -65px;
}

/*-----------Contact Us ----------*/

.con {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 40px;
}


.con h1 {
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Merriweather';
}

.co #a {
    padding: 10px;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 15px;
    border-color: #D5D5D5;

}

.co #b {
    padding: 10px;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border-color: #D5D5D5;
    margin-bottom: 5%;

}

.co #c {
    padding: 10px;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 15px;
    border-color: #D5D5D5;

}

.co #d {
    padding: 10px;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border-color: #D5D5D5;
    margin-bottom: 5%;

}



.co #e {
    padding: 10px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border-color: #D5D5D5;
}

.msg {
    background-color: #cb051a;
    border: none;
    border-radius: 10px;
    padding: 13px 35px;
    color: white;
    margin-top: 15px;
    font-size: 18px;

}

.msg:hover {
    background-color: #fcb118;
    color: #000000;
    cursor: pointer;
    box-shadow: 1px 1px #cb051a;

}

/*----------------------- Footer --------------------------*/

.footer {
    background-color: #cb051a;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.footer .col {
    text-align: left;
    padding-left: 100px;
}

.footer .colu {
    padding-right: 100px;
    margin-top: 75px;
}

.footer h1 {
    color: white;
    font-size: 24px;
    font-family: 'Merriweather';

}

.parag {
    color: white;
    font-size: 14px;
    font-family: 'Inter';
}

.sub-btn {
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #fcb118;
    border: none;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

#f {
    padding: 8px 45px;
    border-radius: 5px;
    border: none;
    margin-bottom: 12px;
}

.colu {
    line-height: 2rem;
}

.colu h3 {
    color: white;
    font-size: 24px;
}

.colu a {
    color: white;
}

.footer hr {
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.alll {
    padding-left: 100px;
    padding-bottom: 30px;
    color: white;
}

.footer .col img {
    margin-left: -25px;
}



/*----------------------- Responsive --------------------------*/
@media (min-width: 768px) {
    .desktopNav {
        display: flex;
    }

    .mobileNav {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktopNav {
        display: none;
    }

    .mobileNav {
        display: flex;
    }

    .cart-btn {
        width: 150px;
    }

    nav ul {
        margin-left: 0;
        font-size: 20px;
        position: absolute;
        top: 57px;
        background-color: #333;
        color: white;
        width: 100%;
        display: none;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .coverImg,
    .banner-content {
        width: 100%;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .ho {
        color: white;
    }

    .banner p {
        margin-top: 15px;
        font-size: 16px;
    }


    .banner-content {
        text-align: center;
        padding: 80px 0%;

    }

    .header {
        position: sticky;
        top: 0;
        background-color: white;
    }

    .header img {
        margin-left: 0;
    }

    .login-btn {
        font-size: 14px;
        width: 55px;
        margin-right: -120px;
    }

    .container {
        padding: 100px;
        padding-top: 100px;
    }

    .container h1 {
        font-size: 24px;
    }

    .con h1 {
        text-align: center;
    }

    .logo {
        width: 50px;
        margin-left: 2px;
    }

    .me p {
        text-align: left;
        font-size: 12px;

    }

    .test {
        height: 700px;
    }

    .rows {
        flex-direction: column;
        align-items: center;
    }

    .ser .rows {
        gap: 16px;
    }

    .serv {
        font-size: 12px;
        font-family: Inter;
        padding: 0 6%;
    }

    .ser .rows p {
        font-family: Inter;
    }

    .footer .col {
        padding-left: 0px;

    }

    .footer hr {
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .colu {
        display: none;

    }

    .colu ul {
        padding-right: 230px;
    }

    .alll {
        padding-left: 40px;
    }

    .che .row p {
        margin-bottom: 15px;
        font-family: Inter;

    }

    .che .row {
        padding-left: 0px;
        padding-right: 0px;
    }

    .para {
        margin-left: 20px;
        float: right;
        margin-right: 20px;
        height: 311px;
        align-content: center;
        margin: 5% 8%;
        font-family: 'Inter';
        margin-top: -22%;
    }

    .para p {
        font-family: Inter;
        font-size: 14px;
    }

    .test h1 {
        font-weight: 700;
        font-size: 24px;
        padding-top: 60px;
        padding-left: 20px;
        width: auto;
    }

    .testi {
        display: block;
        width: auto;
    }

    .test img {
        margin-left: 100px;
        margin-bottom: 55px;
    }

    .dott-img {
        display: none;
    }

    .dot-img {
        display: none;

    }

    .con {
        display: block;
        padding: 0px;
    }

    #b {
        margin-bottom: 12px;
    }

    #c {
        margin-bottom: 12px;
    }

    .co #a {
        width: 90%;
    }

    .co #b {
        width: 90%;
    }

    .co #c {
        width: 90%;
    }

    .co #d {
        width: 90%;
    }

    .co #e {
        width: 90%;
    }

    #e {
        margin-top: 12px;
    }

    .me {
        border-radius: 10px;
    }

    .row .me {
        margin-bottom: 10px;
    }

    .me img {
        width: 150px;
        height: 100px;
    }

    svg {
        margin-right: 8px;
    }

    .parag {
        font-family: 'Inter';
        margin: 2% 8%;

    }

    .menu-icon {
        visibility: inherit;
        cursor: pointer;
        padding-right: 10px;
    }

    .con img {
        display: none;
    }

    .footer .colu {
        padding-right: 0px;
    }

    #f {
        padding: 8px 10px;
        margin-left: 8%;
    }

    #menu-img {
        display: none;
    }

    .footer .col img {
        margin-left: 32%;
        width: 120px;
    }

    .contact-details {
        padding: 5%;
    }

    .footer svg {
        display: none;
    }

    .msg {
        background-color: #cb051a;
        border: none;
        border-radius: 10px;
        padding: 13px 35px;
        color: white;
        margin-top: 15px;
        font-size: 18px;
        display: block;
        margin: 20px auto;
    }

    .menu .row {
        gap: 5px;
    }

    .footer h1 {
        text-align: center;
    }
}